
<script>
import axios from "axios";
export default {
	name: "Home",
	data: () => ({
		valid: true,
		show: false,
		form_username: "",
		form_password: "",
		failed: false,
		loading: false
	}),
	methods: {
		submit() {
			this.loading = true;
			this.failed = false;
			axios
				.post("http://192.168.0.200:8000/login", {
					username: this.form_username,
					password: this.form_password
				})
				.then(response => {
					if (response.data.status === "ok") {
						this.$store.dispatch("set_token", response.data.token);
						this.$store.commit("set_username", this.form_username)
						this.$router.push("stats");
					} else {
						this.failed = true;
					}
					this.loading = false;
				})
				.catch(function(error) {
					console.log(error);
				});
		}
	}
};
</script>

<template>
	<v-row justify="center">
		<v-card width="600">
			<v-form class="form">
				<v-text-field
					label="Username"
					prepend-icon="mdi-account"
					v-model="form_username"
					required
				></v-text-field>
				<v-text-field
					label="Password"
					prepend-icon="mdi-lock"
					:append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
					:type="show ? 'text' : 'password'"
					v-model="form_password"
					@click:append="show = !show"
					required
				></v-text-field>

				<v-btn
					@click="submit"
					v-bind:loading="loading"
					class="submit"
					block
					color="success"
					>Login</v-btn
				>
				<v-alert dense v-if="failed" type="error">
					Incorrect credentials!</v-alert
				>
			</v-form>
		</v-card>
	</v-row>
</template>

<style scoped>
.submit {
	margin-top: 30px;
	margin-bottom: 30px;
}
.form {
	padding: 30px;
}
</style>