<template>
	<v-card>
		<v-card class="small">
			<stats-header v-if="loaded" v-bind:average="average_wpm" v-bind:top="top_wpm" v-bind:error_rate="error_rate"></stats-header>
		</v-card>

		<v-card class="small">
			<line-chart
				v-if="loaded"
				v-bind:chartData="wpm_line"
				v-bind:chartLabels="wpm_timestamps"
			></line-chart>
		</v-card>
	</v-card>
</template>

<script>
// import io from "socket.io-client";
import LineChart from "../components/LineChart.vue";
import StatsHeader from "../components/StatsHeader.vue";

export default {
	name: "Stats",
	components: {
		LineChart,
		StatsHeader
	},
	data: () => ({
		average_wpm: 0,
		top_wpm: 0,
		wpm_line: [1, 2, 3, 4, 5],
		error_rate: 20,
		wpm_timestamps: [1, 2, 3, 4, 5],
		misses_line: [3, 2, 1, 2, 3],
		loaded: false
	}),
	mounted() {
		var socket = this.$store.state.socket;
		var comp = this;
		var strftime = require("strftime");
		socket.emit("bootstrap");
		socket.on("wpm_stats", function(msg) {
			comp.wpm_line = msg.map(row => row.avg_wpm).reverse();
			comp.wpm_timestamps = msg
				.map(row => strftime("%y/%m/%d %H:%M", new Date(row.timestamp)))
				.reverse();
			comp.loaded = true;
		});
		socket.on("header_stats", function(msg) {
			comp.average_wpm =  msg[0].average;
			comp.top_wpm =  msg[0].max;
			comp.error_rate = msg[0].error_rate
		});
	},
	methods: {}
};
</script>

<style scoped>
.small {
	max-width: 1000px;
	margin: 10px auto;
}
</style>