<script>
import DoughnutChart from "./DoughnutChart.vue";
export default {
	props: ["average", "top", "error_rate"],
	components: {
		DoughnutChart
	}
};
</script>

<template>
	<v-row>
		<v-col>
			<v-card class="header_card">
				<v-spacer />
				<v-row class="header_row">
					<span> Average Speed: </span>
				</v-row>
				<v-row class="header_row">
					<span> {{ average }} </span>
					<span class="small"> words per minute </span>
				</v-row>
			</v-card>
		</v-col>
		<v-col>
			<v-card class="header_card">
				<v-spacer />
				<v-row class="header_row">
					<span> Top Speed: </span>
				</v-row>
				<v-row class="header_row">
					<span> {{ top }} </span>
					<span class="small"> words per minute </span>
				</v-row>
			</v-card>
		</v-col>
		<v-col>
			<v-card class="header_card">
				<doughnut-chart class="chart" v-bind:error_rate="error_rate" />

				<span>{{ 100 * (1 - error_rate) }}% </span>
			</v-card>
		</v-col>
	</v-row>
</template>

<style scoped>
.header_card {
	text-align: center;
	min-height: 150px;
	justify-content: center;
}
.header_row {
	min-height: 50px;
	text-align: center;
	justify-content: center;
}
span {
	font-family: "Consolas";
	text-align: center;
	font-size: x-large;
	padding: 10px;
}
.small {
	font-size: small;
	line-height: 42px;
}
.chart {
	max-height: 70%;
}
</style>