<template>
	<v-app>
		<v-navigation-drawer app clipped v-model="drawer" width="350">
			<v-list nav>
				<v-list-item
					v-for="item in nav_items"
					:key="item.title"
					v-bind:to="item.route"
					height="50"
				>
					<v-list-item-icon>
						<v-icon>{{ item.icon }}</v-icon>
					</v-list-item-icon>

					<v-list-item-content>
						<v-list-item-title
							:style="{
								fontSize: '14pt',
							}"
							>{{ item.title }}</v-list-item-title
						>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>
		<v-app-bar app clipped-left color="primary" dark>
			<v-btn
				class="d-flex align-center"
				large
				elevation="0"
				color="primary"
				@click.stop="drawer = !drawer"
			>
				<v-icon>mdi-keyboard</v-icon>
				<v-card-text
					:style="{
						fontWeight: 'bold',
						fontSize: '18pt',
					}"
				>
					KeyTrain
				</v-card-text>
			</v-btn>
			<v-spacer></v-spacer>
			<template v-if="this.$router.currentRoute.path != '/login'">
				<span>{{ logged_in_text }}</span>
				<v-btn v-if="username != ''" outlined @click="logout"
					>Logout</v-btn
				>
				<v-btn v-else outlined to="login">Sign in</v-btn>
			</template>
		</v-app-bar>
		<v-main>
			<router-view></router-view>
		</v-main>
	</v-app>
</template>


<script>
import io from "socket.io-client";
export default {
	name: "App",

	components: {},

	data: () => ({
		drawer: null,
		nav_items: [
			{
				title: "Dashboard",
				icon: "mdi-view-dashboard",
				route: "dashboard"
			},
			{ title: "Stats", icon: "mdi-image", route: "stats" },
			{ title: "About", icon: "mdi-help-box", route: "about" }
		]
	}),
	mounted() {
		var socket = io.connect("http://192.168.0.200:3000");
		socket.on("connect", () => {
			if (this.$store.state.token != "") {
				this.$store.dispatch("bind_token");
			}
		});
		this.$store.commit("set_socket", socket);
	},
	computed: {
		logged_in_text: function() {
			return this.username == ""
				? "Not logged in"
				: "Logged in as " + this.username;
		},
		username: function() {
			return this.$store.state.username;
		}
	},
	methods: {
		logout: function() {
			this.$store.dispatch("logout");
			this.$router.push("/");
		}
	}
};
</script>

<style scoped>
span {
	margin: 20px;
}
</style>